/*whole page*/
    :root {
        --mdc-theme-primary: rgb(49, 49, 47);
        --mdc-theme-accent: rgb(244, 219, 80);
    }
    .mdc-ripple-surface.mdc-ripple-upgraded::before,
	.mdc-ripple-surface.mdc-ripple-upgraded::after {
	  /*background-color: rgba(244, 219, 80, .15);*/
	}
    .homepage-body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: rgb(225, 225, 225);
        user-select: none;
    }
    
/*header*/
    .header-toolbar {
        width: 100%;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;
        position: fixed;
        top:0;
        z-index:2;
    }
    
    .header-toolbar .header-menu {
        background: none;
        border: none;
        outline: none;
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 0;
        color: #FFF;
        box-sizing: border-box;
    }
    .header-toolbar .header-menu:hover{
    	cursor: pointer;
    }

    .header-toolbar .section-title{
    	margin-left: 10px;
    }
    
    .header-toolbar .icon-github {
        text-decoration: none;
    	height: 56px;
    	line-height: 56px;
        font-size: 1.5rem;
        color: #fff;
        position: absolute;
        top:0;
        right:16px;
    }
    .header-toolbar .icon-github:hover{
    	color: rgb(244, 219, 80);
    	cursor: pointer;
    }

/*side drawer*/
    .mdc-temporary-drawer{
    	z-index:3;
    }
    
    .mdc-temporary-drawer #home:hover{
        cursor:pointer;
    }
    .mdc-temporary-drawer .mdc-temporary-drawer__header {
    	background: url("../images/cover.png") no-repeat bottom right rgb(244, 219, 80);
    	background-size: 58% auto;
    }

    .mdc-temporary-drawer .mdc-list-item:hover{
    	background-color: rgba(0, 0, 0, 0.05);
    	transition: all 0.2s ease;
		cursor:pointer;
    }
    
/*homepage main*/
    .home-main {
        margin-top: 66px;
    }
    
    .mdc-card {
        display: block;
        text-decoration: none;
        margin: 10px 10px 15px 10px;
        transition: all 0.3s linear;
        z-index: -1;
    }
    .mdc-card:hover, .mdc-card:active{
    	cursor:pointer;
        box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
    }
    
    .mdc-card__primary {
        padding: 10px 10px 16px 16px;
        background-color: #fff;
    }
    
    .mdc-card__media {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 30%;
        height: 8.5rem;
    }
    
    .mdc-card-pic1 {
        background-image: url("../images/pic1.jpg");
    }
    
    .mdc-card-pic2 {
        background-image: url("../images/pic2.jpg");
        background-position: center 5%;
    }
    
    .mdc-card-pic3 {
        background-image: url("../images/pic3.jpg");
    }
    
    .mdc-card-pic4 {
        background-image: url("../images/pic4.jpeg");
    }
    
    .mdc-card-pic5 {
        background-image: url("../images/pic5.jpg");
    }
    
    .mdc-card-pic6 {
        background-image: url("../images/pic6.jpeg");
    }

/*footer*/
    footer{
    	height:64px;
    	background-color:rgb(49, 49, 47);
    	font-size: 0.75rem;
    	clear:both;
    	display:flex;
    	flex-flow: column;
    	align-items: center;
    	justify-content: center;
    }
    footer div{
    	color:rgba(255, 255, 255, 0.54);
    }
    footer a {
    	text-decoration: none;
    	color:rgba(255, 255, 255, 0.87);
    }

/*media*/
    @media (min-width: 600px) {
    	.homepage-body {
	        overflow: hidden;
	    }
        .header-toolbar {
            height: 64px;
        }
        .header-toolbar .icon-github {
	    	height: 64px;
	    	line-height: 64px;
	    }
	    .mdc-temporary-drawer .mdc-temporary-drawer__header {
	    	background-size: 64% auto;
	    }
        .home-main {
	        margin-top: 79px;
	    }
	    
	    .mdc-card {
	       	width: 32%;
	       	float: left;
	    }
	    .mdc-card__media {
	        height: 11rem;
	    }
	    .mdc-card.one{margin: 0 0.5% 20px 1%;}
	    .mdc-card.two{margin: 0 0.5% 20px 0.5%;}
	    .mdc-card.three{margin: 0 1% 20px 0.5%;}

        footer{position: fixed; bottom:0px; width: 100%}
    }